@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

body {
  background-color: #030303;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.request {
  margin-top: 204px;
}
.request-head {
  position: relative;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 80px;
  line-height: 77px;
  text-transform: uppercase;
}

.back-title {
  font-weight: 700;
  font-size: 130px;
  line-height: 124px;
  text-transform: uppercase;
  position: absolute;
  top: -74px;
  left: -115px;
  z-index: -1;
  -webkit-text-stroke: 1px #952CFF;
  -webkit-text-fill-color: #151515;
}

.request-body {
  margin-top: 42px;
}
.request-body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 67px;
}
.request-body__img {
  width: 555px;
  height: 413px;
  background-color: #030303;
  border: 0.25px solid rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 4px 50px 20px linear-gradient(#351593, #930196);
          box-shadow: 0px 4px 50px 20px linear-gradient(#351593, #930196);
  border-radius: 41.9192px;
  position: relative;
}
.request-body__img img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.request-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
.request-form__label {
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  color: #fff;
  width: 100%;
}
.request-form__input {
  margin-top: 25px;
  margin-bottom: 55px;
  width: 100%;
  padding: 15px 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  background-color: transparent;
}
.header {
  width: 100%;
  max-width: 1404px;
  height: 800px;
  background-image: url(../image/header/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}