.header {
    width: 100%;
    max-width: 1404px;
    height: 800px;
    background-image: url(../image/header/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.nav {
    padding: 56px 0;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        
        }
}
.nav-logo {
    display: flex;
       img{
        display: flex;
        width: 305px;
        height:72px;
        object-fit: contain;

       }
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-right: 180px;

		// .nav-menu__item

		&__item {
		}

		// .nav-menu__link

		&__link {
		}
}
.nav-social {
}
.nav-social-item {
}
.header-info {

		// .header-info__title

		&__title {
		}

		// .header-info__desc

		&__desc {
		}

		// .header-info__label

		&__label {
		}

		// .header-info__btns

		&__btns {
		}

		// .header-info__btn

		&__btn {
		}
}
.header-info-checked {
}
.header-main {

		// .header-main__img

		&__img {
		}
}
