.header {
    width: 100%;
    max-width: 1404px;
    height: 800px;
    background-image: url(../image/header/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.nav {
}
.container {
}
.nav-logo {
}
.nav-menu {

		// .nav-menu__item

		&__item {
		}

		// .nav-menu__link

		&__link {
		}
}
.nav-social {
}
.nav-social-item {
}
.header-info {

		// .header-info__title

		&__title {
		}

		// .header-info__desc

		&__desc {
		}

		// .header-info__label

		&__label {
		}

		// .header-info__btns

		&__btns {
		}

		// .header-info__btn

		&__btn {
		}
}
.header-info-checked {
}
.header-main {

		// .header-main__img

		&__img {
		}
}
